.header {
  position: fixed;
  z-index: var(--z-idx-header);

  width: 100%;
  height: var(--hgt-header);
  padding: 0 2.4rem;

  background-color: var(--clr-white);

  font-size: 2rem;
  font-weight: 700;
}

.logoContainer {
  display: flex;
  align-items: center;

  min-height: var(--hgt-header);
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 2.4rem;
  height: 2.4rem;
}

.mainContainer {
  position: relative;

  display: flex;

  width: 100%;
  height: 100%;
  padding-top: var(--hgt-header);
}

.aside {
  position: sticky;
  top: var(--hgt-header);
  left: 0;

  width: 23rem;
  max-height: calc(100vh - var(--hgt-header));
  padding: 0 0.8rem;
}

.navList a {
  display: block;
}

.main {
  flex-grow: 1;

  height: 100%;
  padding: 4rem 4rem 10.6rem;

  background-color: var(--clr-gray-50);
}
